<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Camisetas</title>
</head>
<body>
    <header>
        <a href="/produtos">
            <img id="logo" src="/img/logo copa catar.png" alt="logo">
        </a>
        <input type="text" name="" id="input-buscar" placeholder="Escolha sua camiseta">
        <button class="btBuscar" type="submit">Buscar</button>
        <div class="carrinho-login">
            <a href="/carrinho">
                <ul>
                    <li><img class="compras" src="/img/carrinho.jfif" alt="carrinho de compras"></li>
                    <li>Minhas compras</li>
                </ul>
            </a>
            <a href="/">
            <ul>
                <li><img class="usuario" src="/img/usuario.jfif" alt="login-usuario"></li>
                <li>Login</li>
            </ul>
            </a>
        </div>
    </header>
    
