<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    
    <title>Rodape</title>
</head>
<body>
    <div class="conteudo">
        <h1 >Hexa esportes</h1>
    </div>
    <footer>
        <div class="boxs">
            <h2>Inicio</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Trocas e Devolução</a></li>
            </ul>
        </div>
        <div class="boxs">
            <h2>Nos siga!</h2>
            <ul>
                <li><a href="https://www.instagram.com.br">Instagram</a></li>
                <li><a href="https://www.facebook.com.br">facebook</a></li>
                
            </ul>
        </div>
        <div class="boxs">
            <h2>Contato</h2>
            <ul>
                <li><a href="#">E-mail</a></li>
                <li><a href="#">Telefone</a></li>
                <li><a href="#">Whatsapp</a></li>
            </ul>
        </div>
        <div class="boxs">
            <h2>Sobre nós</h2>
            <p> Loja especializada na venda de camisa de seleções mundiais,
                 trazendo qualidade e preço ao alcance de todos!</p>
            </footer>
</body>
</html>