<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Hexa Sports</title>
</head>

<body>
    <header>
        <a href="/">
            <img src="\img\logo2.png" alt="Logo do E-commerce DH" width="64" height="64">
         </a>
         <input type="text" name="" id="" placeholder="O que você procura?">
         <button>
            <img src="\img\lupa_buscar.jpg" alt="Buscar" width="30" height="30">
         </button>
         <nav>
            <ul>
                <li><a href="#" class="link-header">HOME</a></li>
                <li><a href="#" class="link-header">PRODUTOS</a></li>
                <li><a href="#" class="link-header">CATEGORIAS</a></li>
                <li><a href="#" class="link-header">PROMOÇÕES</a></li>
            </ul>
         </nav>
    </header>
    <main>
      <section class="inicio">
        <h1>COMPRE AQUI SUA CAMISA PARA A COPA DO MUNDO</h1>
        <img src="/img/bg.jpg" alt="">
      </section>
      <section class="oferta">
        <div>
            <p>Pagamento em 10x sem juros</p>
        </div>
        <div>
            <p>Frete grátis</p>
        </div>
        <div>
            <p>Pagamento no boleto</p>
        </div>
        <div>
            <p>Pagamento via Pix</p>
        </div>
      </section>
    </main>
    <footer>
        <span>Copyright camisetas 2022 </span>
    </footer>    
</body>
</html>