<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce DH</title>
</head>

<body>
    <header>
        <a href="/">
            <img src="C:\Users\mahme\OneDrive\Área de Trabalho\projeto-integrador-dh\public\img\logo2.png" alt="Logo do E-commerce DH" id="Logo do E-commerce DH" width="64" height="64">
         </a>
         <input type="text" name="" id="" placeholder="O que você procura?">
         <button>Buscar</button>
         <nav>
            <ul>
                <li><a href="#" class="link-header">HOME</a></li>
                <li><a href="#" class="link-header">PRODUTOS</a></li>
                <li><a href="#" class="link-header">CATEGORIAS</a></li>
                <li><a href="#" class="link-header">PROMOÇÕES</a></li>
            </ul>
         </nav>
    </header>
    <main>
      <section class="inicio">
        <h1>Compre aqui sua camisa para copa</h1>
        <img src="../public/img/selecoes.jpeg" alt="">
      </section>
      <section class="oferta">
        <div>
            <p>Pagamento em 10x sem juros</p>
        </div>
        <div>
            <p>Frete grátis</p>
        </div>
        <div>
            <p>Pagamento no boleto</p>
        </div>
        <div>
            <p>Pagamento via Pix</p>
        </div>
      </section>
    </main>
    <footer>
        <img src="C:\Users\mahme\OneDrive\Área de Trabalho\projeto-integrador-dh\public\img\logo2.png" alt="seleções catar" width="64" height="64">
        <span>Copyright camisetas 2022</span>
    </footer>    
</body>
</html>