<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="/">
            <img id="logo" src="../public/img/logo copa catar.png" alt="logo">
         </a>
         <nav>
            <ul>
                <li><a href="#" class="link-header">HOME</a></li>
                <li><a href="#" class="link-header">PRODUTOS</a></li>
                <li><a href="#" class="link-header">CATEGORIAS</a></li>
                <li><a href="#" class="link-header">PROMOÇÕES</a></li>
            </ul>
         </nav>
    </header>
    <main>
      <section class="inicio">
        <h1>Compre aqui sua camisa para copa</h1>
        <img src="../public/img/selecoes.jpeg" alt="">
      </section>
      <section class="oferta">
        <div>
            <p>Pagamento em 10x sem juros</p>
        </div>
        <div>
            <p>Frete grátis</p>
        </div>
        <div>
            <p>Pagamento no boleto</p>
        </div>
        <div>
            <p>Pagamento via Pix</p>
        </div>
      </section>
    </main>
    <footer>
        <img src="../public/img/rodape-copa-2022.png" alt="seleções catar">
        <span>Copyright camisetas 2022</span>
    </footer>    
</body>
</html>