<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Camisetas</title>
</head>
<body>
    <header>
        <a href="/">
            <img id="logo" src="/img/logo copa catar.png" alt="logo">
         </a>
         <nav>
            <ul>
                <li><a href="/views/home.html" class="link-header">HOME</a></li>
                <li><a href="#" class="link-header">PRODUTOS</a></li>
                <li><a href="#" class="link-header">CATEGORIAS</a></li>
                <li><a href="#" class="link-header">PROMOÇÕES</a></li>
            </ul>
         </nav>
    </header>
    <main>
        <div class="block-container">
            <img id="banner" src="/img/capa.webp" alt="Capa">
            <h3 id="banner-text">Venha torcer com estilo!</h3>    
        </div>
        <div class="texto-buscar">
            <input type="text" name="" id="" placeholder="Escolha sua camiseta">
            <button class="btbuscar">Buscar</button>
            <a href="../views/carrinho.html"></a>
            </a>
        </div>
        <div class="container">
            <article class="camisas">
                <img src="/img/espanha.jpg" alt="Camiseta Espanha">
                <h2>Camiseta Espanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/argentina.webp" alt="Camiseta Argentina">
            <h2>Camiseta Argentina</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/holanda.webp" alt="Camiseta Holanda">
            <h2>Camiseta Holanda</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/alemanha.webp" alt="Camiseta Alemanha">
            <h2>Camiseta Alemanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/brasil.jfif" alt="Camiseta Brasil">
            <h2>Camiseta Brasil</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/Inglaterra.jfif" alt="Camiseta Inglaterra">
            <h2>Camiseta Inglaterra</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/uruguai.webp" alt="Camiseta Uruguai">
            <h2>Camiseta Uruguai</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/japão.jfif" alt="Camiseta Japão">
            <h2>Camiseta Japão</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/brasil.jfif" alt="Camiseta Brasil">
            <h2>Camiseta Brasil</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article class="camisas">
            <img src="/img/Inglaterra.jfif" alt="Camiseta Inglaterra">
            <h2>Camiseta Inglaterra</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
    </div>
    </main>
    <footer>
        <img src="/img/rodape-copa-2022.png" alt="seleções catar">
        <span>Copyright camisetas 2022</span>
    </footer>    
</body>
</html>