<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Camisetas</title>
</head>
<body>
    <header>
        <a href="/">
            <img id="logo" src="/img/logo2.png" alt="logo">
         </a>
         <nav>
            <ul>
                <li><a href="#" class="link-header">PRODUTOS</a></li>
                <li><a href="#" class="link-header">CATEGORIAS</a></li>
                <li><a href="#" class="link-header">PROMOÇÕES</a></li>
            </ul>
         </nav>
         <input type="text" name="" id="" placeholder="Escolha sua camiseta">
         <button class="btbuscar">Buscar</button>
         <a href="/carrinho">
         <span>0</span>
                </a>
    </header>
    <main>
        <div class="block-container">
            <img id="banner" src="/img/selecoes.jpeg" alt="Capa">
            <h3 id="banner-text">Venha torcer com estilo!</h3>
            
        </div>
        <article>
            <img src="/img/espanha.jpg" alt="Camiseta Espanha">
            <h2>Camiseta Espanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article>
            <img src="/img/argentina.webp" alt="Camiseta argentina">
            <h2>Camiseta argentina</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article>
            <img src="/img/espanha.jpg" alt="Camiseta Espanha">
            <h2>Camiseta Espanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article>
            <img src="/img/espanha.jpg" alt="Camiseta Espanha">
            <h2>Camiseta Espanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article>
            <img src="/img/espanha.jpg" alt="Camiseta Espanha">
            <h2>Camiseta Espanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article>
            <img src="/img/espanha.jpg" alt="Camiseta Espanha">
            <h2>Camiseta Espanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article>
            <img src="/img/espanha.jpg" alt="Camiseta Espanha">
            <h2>Camiseta Espanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
        <article>
            <img src="/img/espanha.jpg" alt="Camiseta Espanha">
            <h2>Camiseta Espanha</h2>
            <span>R$ 350,00</span>
            <a href="/">Ver mais</a>
            <button>Add+</button>
        </article>
    </main>
    <footer>
        <span>Copyright camisetas 2022</span>
    </footer>    
</body>
</html>