* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: white;
    padding: 10px 50px;
    display: flex;
    align-items:center;
    
}

header #logo {
    width: 100px;  
}

#input-buscar {
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.btBuscar {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color:red;
    border: none;
    color: whitesmoke;
}

.btBuscar:hover{
   color: brown;
   transition: 0.5ms;
}

.carrinho-login {
    display: flex;
    cursor: pointer;
    align-items:center;
    margin-left: 30px;
    justify-content: space-around;
    text-align: center;
    right: npx;
    bottom: 5px;
}

.carrinho-login a{
    text-decoration: none;
    text-align: center;   
    
}

.carrinho-login ul li{
    display: inline;
    list-style-type:none;
    font-size: 10px;  
}

.carrinho-login img {
    margin: 5px;
    line-height: 10px;
    
}

.carrinho-login .compras {
    width: 28px;
    height: 28px;
    
}

.carrinho-login .usuario{
    width:30px;
    height: 30px;
}






