* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: floralwhite;
    padding: 10px 50px;
    display: flex;
    align-items:center;
    
}

header #logo {
    width: 100px;  
}

#input-buscar {
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.btBuscar {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color:coral;
    border: none;
}

.btBuscar:hover{
   color: bisque;
   transition: 0.5ms;
}

.carrinho-login {
    display: flex;
    cursor: pointer;
    align-items:center;
    margin-left: 30px;
    justify-content: space-evenly;
}

.carrinho-login .compras{
    width: 25px;
}

.carrinho-login .usuario{
    width:30px;
}





